html {
  font-size: 26.66667vw;
}
/* 给body设置字体默认样式 */
body {
  font-size: .14rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
#header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #006699;
  display: flex;
}
#header .left {
  width: 0.45rem;
  height: 0.45rem;
}
#header .center {
  flex: 1;
}
#header .center h4 {
  color: #fff;
  font-weight: normal;
  text-align: center;
  line-height: 0.45rem;
}
#header .right {
  width: 0.45rem;
  height: 0.45rem;
  text-align: center;
  line-height: 0.45rem;
}
#header .right a {
  color: #fff;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #006699;
  height: 0.45rem;
}
#footer div a {
  height: 100%;
  text-align: center;
  display: block;
  color: white;
}
#footer div a i {
  vertical-align: middle;
}
#footer div a p {
  color: white;
}
