@color: #006699;

html {
    font-size: 26.66667vw;
}

/* 给body设置字体默认样式 */
body {
    font-size: .14rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

#header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: @color;
    display: flex;

    .left {
        width: 0.45rem;
        height: 0.45rem;
    }

    .center {
        flex: 1;

        h4 {
            color: #fff;
            font-weight: normal;
            text-align: center;
            line-height: 0.45rem;
        }
    }

    .right {

        width: 0.45rem;
        height: 0.45rem;
        text-align: center;
        line-height: 0.45rem;

        a {
            color: #fff;
        }
    }
}
// 导航区域
#main {
    padding: 0.45rem 0;
    height: 100vh;
    position: relative;
    .mui-scroll-wrapper {
        // 把默认绝对定位改成相对定位
        position: relative;
        // 把这个区域滚动的盒子高度设置为100% 和main的内容一样
        height: 100%;
    }

    // swiper的内容滚动样式修改 给父容器高度固定100% 子容器高度auto
    .swiper-container {
        height: 100%;

        // 子容器的高度 为auto
        .swiper-slide {
            height: auto;
        }
    }
    #nav {
        padding: 0.1rem;

        div {
            a {
                display: block;

                img {
                    width: 100%;
                }
            }
        }
    }

    #active {
        padding: 0 0.1rem;

        .left {
            a {
                display: flex;

                img {
                    width: 50%;
                    height: 1.2rem;
                }
            }
        }

        .right {
            a {
                display: block;

                img {
                    height: 2.4rem;
                }
            }
        }
    }

    #brand {
        padding: 0.1rem;

        .title {
            a {
                display: block;

                img {
                    width: 100%;
                }
            }
        }

        .content {
            div {
                a {
                    display: block;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    #play {
        padding: 0 0.1rem;
        .title {
            a {
                display: block;

                img {
                    width: 100%;
                }
            }
        }
        .content{
            div{
                a{
                    display: block;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    #women{
        padding: 0.1rem;
        .title {
            a {
                display: block;

                img {
                    width: 100%;
                }
            }
        }
        .content{
            div{
                a{
                    display: block;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    #man{
        padding: 0.1rem;
        .title {
            a {
                display: block;

                img {
                    width: 100%;
                }
            }
        }
        .content{
            div{
                a{
                    display: block;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: @color;
    height: 0.45rem;

    .mui-row {
        div {
            
            a {
                height: 100%;
                display: flex;
                color: white;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: .1rem 0;
                i {
                    vertical-align: middle;
                }
                span{
                }
                &.active {
                    color: orange;
                }

            }
        }
    }
}